In [1]:
import pandas as pd
import sys
import numpy as np
import os

# Adapted 12/12/22: https://github.com/smeylan/child-directed-listening/blob/master/src/run/run_beta_search.py
sys.path.append('.')
sys.path.append('src/.')
# end cite
from src.utils import configuration, generation_processing, substitutions
config = configuration.Config()

counts_path = os.path.join(config.eval_priors_dir, 'token_substitution_counts.csv')
counts_df = pd.read_csv(counts_path)

substitutions.check_counts_descending(counts_df)
counts_df['frequency_rank'] = np.arange(counts_df.shape[0])

In [2]:
print(config.eval_phase)

eval

In [3]:
print(f"Total number of substitutions : {counts_df.shape[0]}")
counts_df[counts_df.original != counts_df.substitution].head(20)

Total number of substitutions : 220

    Unnamed: 0  count original substitution  frequency_rank
3          155     24      the            i               3
6           89     19       it            a               6
10         192     13      too           to              10
14         146     10     that          dat              14
15          48     10     down         yeah              15
16          76      9        i            a              16
18          46      8     down          now              18
19         203      8     what          one              19
20          21      8      and            n              20
23         108      7       no            i              23
25          16      7      and            a              25
30          86      6       is            a              30
31         101      6     more           ma              31
32          20      6      and           in              32
33         120      5      off           at              33
34         202      5     what            i              34
38         100      5     more            i              38
42          19      4      and           eh              42
43           2      4        a            i              43
44         164      4    there           de              44