In [1]:
import pandas as pd
import sys
import os
# Adapted 12/12/22: https://github.com/smeylan/child-directed-listening/blob/master/src/run/run_beta_search.py
sys.path.append('.')
sys.path.append('src/.')
# end cite
from src.utils import configuration, generation_processing
config = configuration.Config()

counts_path = os.path.join(config.eval_priors_dir, 'token_substitution_counts.csv')
counts_df = pd.read_csv(counts_path)

In [2]:
print(config.eval_phase)

val

In [3]:
counts_df[counts_df.original != counts_df.substitution].head(20)

    Unnamed: 0  count original substitution
5          154     22      the            i
6           84     21       it            a
9           47     13     down          now
10         189     13      was          one
11          79     13       is            a
13          95     12     more            i
20          16     10      and           an
22         194      8     what          one
23          70      8        i            a
24         151      8      the            a
26          19      7      and           in
27          20      7      and            n
30         193      6     what            i
31          15      6      and            a
33          45      6     down           do
34         150      5     that         yeah
35         146      5     that          dat
37         126      5    other          the
43         182      5      too           to
44         103      4       no            i

In [9]:
all_nonhuman_updated_scores_path = os.path.join(config.eval_priors_dir, 'subsampled_levdist_generated_glosses.pkl')
all_nonhuman_updated_scores = pd.read_pickle(all_nonhuman_updated_scores_path)
cut = all_nonhuman_updated_scores[
    (all_nonhuman_updated_scores.token == 'that')
    & list(map(lambda s : s.split()[0] == 'dat', all_nonhuman_updated_scores.highest_posterior_words))
]

In [10]:
cut.shape

(5, 27)